section {
  width: 20vw;
  height: auto;
  margin-left: 1rem;
  margin-bottom: 1rem;
  padding: 1.5rem;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #455632;
  box-shadow: 2.5px 2.5px green;
}

section h1 {
  font-family: "Sevillana", cursive;
  font-weight: 400;
  font-style: normal;
  color: #6796cc;
}
main {
  margin: 1em 0 1em 0;
}

main p {
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1rem;
}

main a {
  font-family: "Sevillana", serif;
  font-weight: 600;
  font-style: italic;
  text-decoration: none;

  color: #fff;
  background-color: blue;
  padding: 0.5rem;
  border-radius: 5px;
}


