<h5>Exemplos de pipes</h5>

<p>Editora: {{ livro.Editora | uppercase | camelCase}}</p>
<p>Data: {{ livro.Data | date }}</p>
<p>Preco: {{ livro.Preco | currency: 'BRL' }}</p>
<p>Idioma: {{ livro.Idioma | lowercase }}</p>
<p>Número de páginas: {{ livro.CapaComum | number}} páginas</p>


<h5>Fitlro da maneira correta e seguindo as boas práticas</h5>

<input type="text" [(ngModel)]="filtro">

<ul>
  <li *ngFor="let liv of obterCurso()">
    {{ liv }}
  </li>
</ul>

<p>{{ valorAsync | async }}</p>
<p>{{ valorAsync2 | async }}</p>
