  TODO DATA-BINDING
  <!-- <section class="data-binding">

 <article>
    <h3>Interpolação / Interpolation</h3>
    <p>String renderizada com interpolcação: {{ url }}</p>
    <p>Resultado de 1 + 1: {{ 1+1 }}</p>
    <p>Resultado de 1 + 1 não é: {{ 1 + 1 + getValor()  }}</p>
    <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3>Property-binding</h3>
    <img src="{{ urlImagem }}">
    <img [src]="urlImagem2" >
  </article>

</section> -->

TODO CLASS E STYLE-BINDING

<!-- <section>
  <article>
    <h3>Class e style-binding</h3>
    <div>
      Selecione sua classe:
      <select #classe (change)="0">
        <option value="alert-success" role="alert">Sucesso</option>
        <option value="alert-info" role="alert">Info</option>
        <option value="alert-warning" role="alert">Alerta</option>
        <option value="alert-danger" role="alert">Erro</option>
      </select>
      <br><br>

      <div class="alert {{ classe.value }}">
        Texto colorido conforme valor do combobox.
      </div>


      <div class="alert" [class.alert-success]="classe.value == 'alert-success'" role="alert">
        Sucesso
      </div>
      <div class="alert" [class.alert-danger]="classe.value == 'alert-danger'" role="alert">
        Erro
      </div>
      <div class="alert" [class.alert-warning]="classe.value == 'alert-warning'" role="alert">
        Alerta
      </div>
      <div class="alert" [class.alert-info]="classe.value == 'alert-info'" role="alert">
        Info
      </div>

      <div class="alert alert-danger" [style.display]="classe.value === 'alert-danger' ? 'block' : 'none'">
        Esse texto aparece somente em caso de erro.
      </div>

    </div>
  </article>
</section> -->

TODO EVENT BINDING

<section>
  <article>
    <h3>Event binging</h3>
  </article>
  <button class="btn btn-primary" (click)="botaoClicado()">
    Clique me!
  </button>
  <br><br>

  <input type="text"
    (keyup)="OnKeyUp($event)"
    (keyup.enter)="salvarValor($any($event.target).value)"
    (blur)="salvarValor(campoValor.value)"
    #campoValor
    >

  <p>Valor digitado no input: {{ valorAtual }}</p>
  <p>Valor pressionado a tecla enter:  {{ valorEnter }}</p>
  <br>

  <span
    (mouseover)="onMouseOver()"
    (mouseout)="onMouseOver()"
    [class.highlight]= "mouseOver"
    >Passe o mouse sobre mim!
  </span>
</section>
